*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #4891ff;
    --light-color: #f4f4f6;
    --dark-color: #111;
}

body{
    font-family: "Poppins", sans-serif;

}
 
nav{
   width: 80%; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto;
}

nav .nav-logo img{
max-width: 40%;


}

nav ul{
    display: flex;
    gap: 40px;
    list-style-type: none;
    align-items: center;
    padding-inline: 30px;

}

nav ul a {
    text-decoration: none;
    color: var(--dark-color); 
    font-weight: 600;
    font-size: 16px;

}

nav ul a:hover{
    color: var(--primary-color);
}

nav ul li .btn{
    background-color: var(--light-color);
    padding: 8px 22px;
    border-radius: 8px;
    border: none;
     text-decoration: none;
    color: var(--dark-color); 
    font-weight: 600;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    gap: 10px;
}

nav ul li .btn:hover{
    color: var(--primary-color);
}



 
.hero-section{
    background-image: url(/Images/Desktop-hero-image.png);
    background-size: 100% 65%;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 72vh;
    font-family: "Poppins";
    max-width: 60%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 70px;
    
}

.hero-section .hero-header{
    max-width: 100%;
}


.hero-section .hero-header h1{
    font-size: 2.65rem;
    max-width: 50%;
    font-weight: 600;
    color: var(--dark-color);
     
}

.hero-section .hero-text{
    width: 100%;
    margin-top: 20px;
}

.hero-section .hero-text p{
    max-width: 50%;
    font-size: 1.0rem;
}

.hero-section .hero-button{
    padding-top: 30px;
}

.hero-section .hero-button .get-started{
   padding: 12px 17px;
   background-color: #4891FF;
   color: #ffffff;
   border: none;
   font-weight: 600;
   font-size: 1em;
   border-radius: 10px;

}

.hero-section .hero-button .Book-Demo{
   padding: 12px 17px;
   background-color: var(--light-color);
   border: none;
   border-radius: 10px;
   font-weight: 600;
   font-size: 1em;
}

.app-demo{
    width: 100%;
    height: 84vh;
    margin:50px 0px auto;
    background-color: var(--dark-color);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-demo h2{
    margin-top: 42px;
    font-size: 36px;
    max-width: 45%;
    text-align: center;
    font-weight: 300;
}

.app-demo .demo-vid{
    display: flex;
    justify-content: center;
    margin-block: 20px;
}

.app-demo .demo-vid img{
    width: 95%;
}

.app-demo .get-started button{
    padding: 17px 22px;
    border: none;
    background-color: #478ffc;
    color: var(--primary-color);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: ease-in 0.1s;
}

.app-demo .get-started button:hover{
    background-color: #4588ec;                                      
}

.review{
    background-color: #111111;
    height: 57vh;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.review .review-header{
    margin-top: 5%;
    
}

.review .review-header h2{
    width: 60%;
    font-size: 35px;
    font-weight: 400;
    line-height: 48px;
}

.review .review-card{
    margin-top: 40px;
     display: flex;
     width: 56%;
     gap: 20px;
}

.review .review-card .user-review{
    width: 40%;  
    padding: 16px;
   
    /* flex-direction: row; */
    background-color: white;
    color: black;
    border-radius: 10px;
}

.review .review-card .user-review blockquote{

}

.review .review-card .user-review p{
    font-weight: bold;
    margin: 25px 0;
}

.review .review-card .user-review p span{
    font-weight: lighter;
}

.pricing{
    max-width: 100%;
    height: 95vh;
    background-color: #FFFFFF;

}

.pricing .price-header h3{
    text-align: center;
    font-size: 2.2rem;
    line-height: 1.4px;
    margin: 80px 0 0;
    font-weight: normal;

}

.pricing .price-header p{
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.4px;
    font-weight: normal;
    padding-top: 60px;
    padding-bottom: 20px;

}

.pricing .price-card{
    display: flex;
    max-width: 100%;
    margin-top: 50px;
    justify-content: center;
    gap: 30px;

}

.pricing .price-card .plan{
    width: 352px;
    height: 600px;
    border-radius: 10px;
    padding: 60px 20px;
    
}

.pricing .price-card .basic{
    background-color: var(--light-color);
}


.pricing .price-card .basic p{

    
}

.pricing .price-card .pro{
    background-color: var(--dark-color);
    color: #ffffff;
}

.pricing .price-card .pro p{
    color: #ffffff;
}

.pricing .price-card .plan .price-card-head h3{
font-size: 2.2rem;
font-weight: normal;
line-height: 1.4px;
margin-bottom: 40px;
}

.pricing .price-card .pro .price-card-head p{
    font-size: 15px;
    color: #ffffff;
    /* line-height: 1.4px; */
}

.pricing .price-card .plan .price-card-plan{
    margin-top: 50px;
}

.pricing .price-card .plan .price-card-plan p span{
 font-size: 36px;
 line-height: 49px;
}

.pricing .price-card .plan .price-card-plan p{
    margin-bottom: 20px;

}

.pricing .price-card .price-card-routine{
    margin-block: 25px;
}

.pricing .price-card .basic .price-card-routine button{
    margin-top: 27px;
}


.pricing .price-card .price-card-routine ul{
    list-style: none;

}

.pricing .price-card .price-card-routine ul li{
    margin-block: 23px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

}

.pricing .price-card .price-card-routine button{
    max-width: 100%;
    width: 100%;
    padding-block: 15px;
    background-color: var(--primary-color);
    color: #FAFAFA;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.pricing .price-card .price-card-routine button:hover{
    background-color: #5d8bcf;
}

.pricing .deduction-plan{
    /* padding-top: 30px; */
}

.pricing .deduction-plan p{
    text-align: center;
    font-size: 16px;
    font-weight: 24px;
    line-height: 24px;   
    margin-top: 20px;
    color: #294173;
}

.faq{
    width: 100%;
    height: 75vh;
    background-color: var(--light-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.faq .faq-header h3{
    font-size: 42px;
    font-weight: 400;
    line-height: 49px;
} 

.faq .faq-category{
    width: 75%;
    display: flex;
    justify-content: center;
}

.faq .faq-category ul{
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #dddddd;
    padding: 20px 10px;
    border-radius: 10px;


    
}

.faq .faq-category ul li{
    font-size: 14px;
    width: 55%;
    line-height: 24px;
    font-weight: 600;
    list-style: none;
    text-align: center;
    
}
    

.faq .faq-category ul li a{
    text-decoration: none;
    width: 100%;
    color: 494038;
    text-align: center;
    
}

footer{
    background-color: var(--dark-color);
    padding-left: 300px;
    color: #ffffff;

}

footer .footer-logo img{
    margin-top: 30px;
    
}

footer .footer-content{
    margin-top: 30px;
    
}

footer .footer-content ul li{
    list-style-type: none;
    margin-bottom: 12px;
}   

footer .footer-content ul li a{
color: #ffffff;
text-decoration: none;
}

footer .copyright p{
    text-align: center;
    padding-bottom: 10px;
}